@font-face {
    font-family: RodinNTLG;
	src: url("/assets/fonts/CTRNTLG-DB-0001.ttf") format("truetype");
}

:root {
    --text-largest: 20px;
    --text-large: 18px;
    --text-medium: 16px;
    --text-small: 14px;
    --text-smallest: 12px;}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    margin: 2px 2px;
    background-color: #4cf;
    min-height: 32px;
}

* {
    font-family: RodinNTLG, "nintendo_NTLG-DB_001", sans-serif;
    font-size: inherit;
    font-optical-sizing: none;
    font-size-adjust: ic-height from-font;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-justify: inter-character;
    word-break: break-word;
    font-feature-settings: "liga" 0;
}

html {
    background: rgb(32, 36, 52);
    scrollbar-gutter: stable;
    scrollbar-color: #4cf #0000;
    overflow-x: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    /*padding-left: calc((100% - 320px)/2);*/
    width: 320px;
    max-width: 320px;
}

body {
    background: var(--background);
    border-radius: 0px 0px 8px 8px;
    color: var(--base-textcolor);
    margin: 0px;
    padding: 10px 0px;
    font-size: var(--text-medium);
    line-height: 20px;
    word-wrap: break-word;
}

img {
    vertical-align: top;
}

p {
    margin: 0px;
    padding: 0px;
}
table, thead, tbody, tr, td {
    margin: 0px;
    padding: 0px;
}
table {
    max-width: 100%;
}
ul, ol {
    padding: 0px;
    margin: 0px;
    padding-left: 32px;
    width: calc(100% - 40px);
}

.text-largest   {font-size: var(--text-largest); line-height: 24px;}
.text-large     {font-size: var(--text-large); line-height: 22px;}
.text-medium    {font-size: var(--text-medium); line-height: 20px;}
.text-small     {font-size: var(--text-small); line-height: 18px;}
.text-smallest  {font-size: var(--text-smallest); line-height: 16px;}
.nowrap         {display: inline-block;}
.remark         {color: gray;}
.mainPad        {display: block; height: 10px;}
.just           {text-align: justify;}

hr {
    margin: 0px;
    margin-left: 7px;
    border: none;
    width: calc(100% - 14px);
    height: 2px;
    background-color: rgba(64,64,64,.5);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}